#contain-about-me { 
  grid-column: 2/3;
  width: 40vw;
  margin-top: 10vh; 

  display: grid;
  grid-template-rows: repeat(20, 1fr);

  #about-me {
    grid-row: 1/20;
    display: grid;

    width: 100%;
    height: 100%;
      
    border: 8px ridge darkred;
      
    padding: 30px;
    background: #FF9980;

    #title-about-me {
      font-family: "Vast Shadow";
      font-size: 50px;
      font-weight: bold;

      justify-self: start;
      color: darkred;
      margin-bottom: 20px;
      line-height: 70px;
    }

    #description-about-me {
      font-family: "Merriweather";
      font-size: 30px;
      line-height: 40px;
      text-align: justify;
      text-justify: inter-word;
      color: darkred;

      align-self: start;

      p {
        margin-bottom: 15px;
      }

      b {
        font-family: "Vast Shadow";
      }

      a:link {
        text-decoration: none;
        font-weight: bold;
        color: darkred;
      }
      
      a:visited {
        text-decoration: none;
        color: darkred;
      }
      
      a:hover {
        color: darkred;
        opacity: 0.5;
      }
        
      a:active {
        color: darkred;
      }
    }

    #site-about-me {
      margin-top: 20px;
      font-size: 30px;
      line-height: 50px;
      font-weight: bold;
      color: darkred;
      justify-self: start;
      align-self: end;
      margin-bottom: 20px; 
      font-family: "Vast Shadow";
    }

    #site-description-about-me {
      font-family: "Merriweather";
      font-size: 25px;
      line-height: 35px;
      text-align: justify;
      text-justify: inter-word;
      color: darkred;

      justify-self: start;
      align-self: start; 

      p {
        margin-bottom: 15px;
      }

      ul {
        li {
          list-style-type: square;
          margin-left: 25px;
          margin-top: 20px;
          margin-bottom: 20px;
        }
      }
    }
  }
}

@media (max-width: 1500px) {
  #contain-about-me {
    width: 62vw;
  }
}

@media (max-width: 800px) {
  #contain-about-me { 
    width: 90vw;

    #about-me {
      #title-about-me {
        font-size: 40px;
        line-height: 60px;
      }
  
      #description-about-me {
        font-size: 20px;
        line-height: 30px;
      }
  
      #site-about-me {
        font-size: 20px;
        line-height: 30px;
      }
  
      #site-description-about-me {
        font-size: 15px;
        line-height: 25px;
      }
    }
  }
}