#body {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 3fr 1fr; 
  justify-items: center;
  background-color: #e8dad4; 
  min-height: 50vh;
}

.contain-site {
  grid-column: 2/3;
  z-index: 1;
  margin-top: 10vh;
}