.description {
  display: grid;
  
  box-sizing: border-box;
  background: beige;
  height: 100%;
  width: 100%;

  border-radius: 40px;
  font-family: 'Patrick Hand';

  overflow: hidden;

  .title { 
    font-size: 60px;
    padding-top: 10px;
    text-align: center;

    color: pink;
    text-shadow: 
      2px 2px darkorchid,
      -2px -2px darkorchid,
      3px 3px 5px darkorchid;

    letter-spacing: 4px;
  }

  .explanation {
    font-size: 35px;
    padding: 5px;
    text-align: center; 
    white-space: pre-line;
    font-family: "Merriweather";
  }

  .tag {
    display: inline-block;
    background: darkgreen;
    text-align: center;
    font-size: 20px;
    color: white;
    height: 40px;
    width: 90px;

    display: grid;
    align-items: center;
    border-radius: 10px; 
  }

  .tags {
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-gap: 10px;
  }
}

@media (max-width: 1500px) {
  .description {
    .title {
      font-size: 40px;
    }
  
    .explanation {
      font-size: 25px;
    }
  
    .tag {
      font-size: 15px;
      color: white;
      height: 30px; 
      width: 65px;
    }

    .tags {
      grid-gap: 10px;
    }
  }
}

@media (max-width: 800px) {
  .description {
    .title {
      font-size: 25px;
    }
  
    .explanation {
      font-size: 20px;
    }

    .tags {
      display: none;
      grid-gap: 5px;
    }
  }
}