#drum-machine {
  border: 2px dotted red;
  border-radius: 25px;
  grid-row: 6/9;
  grid-column: 1/5;
  cursor: pointer;
  background-image: url('../images/DrumMachine.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#drum-machine:hover {
  border: 2px solid red;
}