#header {
  background-color: lightcoral;
  height: 8vh;
  display: grid;

  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;

  border-bottom: 0.2vh solid darkred;
}

#logo {
  box-sizing: border-box;

  justify-self: center;
  align-self: center;

  grid-row: 1/3;

  height: 6vh;
  width: 6vh;
  border-radius: 6vh;
  background-color: darkred;
  font-size: 3vh;

  font-family: cursive;

  text-align: center;
  color: salmon;
  
  padding-top: 1.5vh; 
}

#github-link {
  font-size: 2.5vh;

  grid-row: 2/3;
  grid-column: 2/3;
  justify-self: center;
  align-self: center;

  a:link, a:visited {
    color: darkred;
  }

  a:hover {
    opacity: 0.5;
  }

  a:active {
    position: relative;
    top: 0.2vh;
  }
}

#theme-button {
  font-size: 2.5vh;
  color: darkred;
  cursor: pointer;

  justify-self: center;
  align-self: center;
}

#theme-button:hover {
  opacity: 0.5;
}

#theme-button:active {
  position: relative;
  top: 0.2vh;
}