#tic-tac-toe {
  box-sizing: border-box;
  grid-row: 2/6;
  grid-column: 1/5;

  border: 2px dashed green; 
  border-radius: 50px; 

  background-image: url('../images/TicTacToe-320x420.png');
  background-size: 100% 100%;
  background-repeat: no-repeat; 

  cursor: pointer;
}