#tic-tac-toe {
  grid-row: 2/6;
  grid-column: 1/5;

  border: 2px dotted green; 
  border-radius: 25px; 

  background-image: url('../images/TicTacToe-320x420.png');
  background-repeat: no-repeat; 
  background-size: contain;
  background-position: center;
  background-color: beige; 

  cursor: pointer;
}

#tic-tac-toe:hover {
  border: 2px solid green;
}